@mixin btn(){
    padding: 0.5rem 1rem;
    border-radius: 5px;
    &:hover {
        box-shadow: var(--box-shadow)
    }
}

@mixin link {
    color: #F5FFFA;
}

@mixin card {

    box-shadow: var(--box-shadow);
    width:40%;
    background: linear-gradient(110deg,#e9d81e, #a2dec7);
    transform: translate(70%, 5%);
    
}